<div class="span3">
    <div class="sidebar">

        <ul class="widget widget-menu unstyled">
            <li class="active">
                <a href="/add_user">
                    <i class="menu-icon icon-dashboard"></i>
                    Yeni Kullanıcı Ekle
                </a>
            </li>
            <li> 
                <a href="/delete_user">
                    <i class="menu-icon icon-dashboard"></i>
                    Varolan Kullanıcı Sil
                </a>
            </li>
            <li>
                <a href="/edit_user">
                    <i class="menu-icon icon-dashboard"></i>
                    Kullanıcı Bilgileri Güncelle
                </a>
            </li>
            
        </ul><!--/.widget-nav-->

        <ul class="widget widget-menu unstyled">
                <li><a href="/search_pdf_admin"><i class="menu-icon icon-book"></i>Pdf Arama</a></li>
            </ul><!--/.widget-nav-->

        <ul class="widget widget-menu unstyled">
            <li>
                <ul id="togglePages" class="collapse unstyled">
                    <li>
                        <a href="other-login.html">
                            <i class="icon-inbox"></i>
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="other-user-profile.html">
                            <i class="icon-inbox"></i>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="other-user-listing.html">
                            <i class="icon-inbox"></i>
                            All Users
                        </a>
                    </li>
                </ul>
            </li>
            
            <li>
                <a href="/">
                    <i class="menu-icon icon-signout"></i>
                    Logout
                </a>
            </li>
        </ul>

    </div><!--/.sidebar-->
</div><!--/.span3-->